<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="javax.microedition.shell.MicroActivity"
            tools:remove="android:process"/>
        <activity
            android:name="ru.playsoftware.j2meloader.config.ConfigActivity"
            tools:remove="android:process"/>
    </application>

</manifest>
